h1{
    text-align: center;
    margin: 25px;
    background-color: rgb(179, 137, 241);
    border: 5px double rgb(255, 255, 255);
    border-radius: 10px ;
    padding: 6px;
    box-shadow: 5px 5px 5px rgb(46, 21, 80);
}
a{
    text-decoration:dashed;

}
.profissoes{
    margin: 6px;
    box-shadow: 1px 1px 5px rgb(46, 21, 80);
    padding: 62px;
}



